
:root{
    --color-principal:#b4d7f7;
    --color-secundario: #a5d0f7;
}

body{
    background-color:var(--color-principal) !important;
    font-family: 'Times New Roman', Times, serif !important;
}

/*NAV-BAR*/
.nav_section .navbar-brand{
    font-size: 25px;
}
.nav_section .navbar-nav li{
    margin: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_section .navbar-nav a {
    color: black !important;
}
.nav_section .navbar-toggler{
    background-color: #77b7f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_section .navbar-toggler-icon {
    background-image: url("Imagenes/menu.png");
  }
.nav_section .navbar-nav li a{
    font-size: 18px;
}

.nav-item:hover{
    animation: tada;
    animation-duration: 0.5s;
}

/*Seccion principal*/
.Javier-section{
    font-family: 'Times New Roman', Times, serif !important;
    padding-bottom: 8%;

}
.Javier-section .row{
    display: flex;
    align-items: center;
    height: 80vh;
}
.Javier-section .row h3{
    margin-bottom: 15px;
}
.Javier-section .row h3::after{
    content: "";
    position: absolute;
    text-align: center;
    top: 10px;
    width: 90px;
    height: 2px;
    margin-left: 6px;
}
.Javier-section .row h1{
    font-size: 60px;
    font-weight: 100;
    margin: 8px 0px;
}
.Javier-section .row img{
    width: 75%;
    border-style: ridge;
    margin-left: 30%;
    margin-top: 20%;
    display: flex !important;
}
.Javier-section .row img:hover{
    animation: pulse;
    border-style: none;
    box-shadow: 0px 0px 5px 5px white;
    animation-duration: 0.2s;
    border-radius: 20%;
}
.tituloBienvenida{
    height: auto;
}
#parrafoEstudio{
    margin-top: 50px;
    font-size: 24px;
}

/* Sobre mi*/
.page-sobremi{
    background-color: var(--color-secundario);
    padding-top: 50px;
    padding-bottom: 100px;
}
#tituloSobremi{
    font-weight: 600;
    font-size: 40px;
    line-height: 57px;
}
#descripcionSobremi{
    font-weight: 200;
    text-align: justify;
    
}
.container .caracteristicas{
    font-weight: bold;
    font-style: normal;
    color: black;

}
/* Habilidades*/
#sobremi-parte-derecha
{
	padding: 50px 0px;
}
#tituloHabilidades{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    margin-right: 19px;
    font-weight: 700;
}

.heading-title{
	margin-bottom: 50px;
}
#imgSobremi{
    width: 40%;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-top: 10%;
    height: auto;
    border-style: groove;

}

.pricingTable{
    box-shadow:
    13.5px 9.7px 23.9px rgba(0, 0, 0, 0.333),
    63px 45px 191px rgba(0, 0, 0, 0.22);
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    transform: translateZ(0px);
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -1px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 3px solid #3491e6;
    border-left: 3px solid #3491e6;
    padding-top: 12px;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}

.pricingTable:after{
    margin-bottom: -1px;
    border-bottom: 3px solid #3491e6;
    border-top: 2px solid #3491e6;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}

.pricingTable:hover:before{
    transform: scaleY(1);
}

.pricingTable:hover:after{
    transform: scaleX(1);
}

.pricingTable .pricingTable-header{
    background: #3491e6;
    color: #fff;
    margin: -2px -2px 35px;
    padding: 40px 0;
    
}

.pricingTable .heading{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.pricingTable .headingC{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 11px 0;
}
.pricingTable .headingT{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
}



.pricingTable .currency{
    font-size: 45px;
    font-weight: normal;
    position: relative;
    top: 3px;
    left: -30px;
}


.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .read{
    display: inline-block;
    border: 2px solid #7a7e82;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    color: #7a7e82;
    padding: 9px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover{
    border-color: #08c6aa;
    color: #08c6aa;
}

.pricingTable .read i{
    font-size: 19px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover i{
    right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after{
    content: "";
    display: block;
    height: 30px;
    border-left: 2px solid #7a7e82;
    position: absolute;
    right: -11px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:before{
    bottom: -6px;
    transform: rotate(45deg);
}

.pricingTable .read:after{
    top: -6px;
    transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after{
    border-left-color: #08c6aa;
}

.imagenHabilidad{
    width: 40%;
    height: auto !important;
    margin-top: -30px;
}



/**Formacion**/
.page-formacion{
    padding-top: 50px;
    padding-bottom: 100px !important;
}
#Titulo-Formacion{
    font-weight: 600;
    font-size: 40px;
}
#titulo-Estudios{
    font-weight: 700 !important;
    text-align: center !important;
}
.card-title{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 1px 0px 0px black,
    0px 1px 0px black,
    -1px 0px 0px black,
    0px -1px 0px black;
    font-weight: 900 ;
}
#tituloESI{
    margin-top: 3px;
    height: auto;
}
.btn-info{
    border-radius: 10px !important;
    border: 1px solid white !important;
    font-weight: bold !important;
    color: white !important;
    background-color: rgb(14, 119, 151) !important;
}
.btn-info:hover{
    background-color: rgb(45, 220, 226) !important;
    color: black !important;
    border: 1px black  !important;
}
.card{
    border-radius: 50px !important;
    display: flex !important;
    height: auto;
    transition: 0.2s;
    background-color: #3491e6 !important;
    padding-bottom: 50px !important;
}
#card-Experiencia{
    width: 105% !important;
    margin-left: -10px !important;
}
.card:hover{
   border: 2px solid rgb(255, 255, 255);
   transition: 0.1s;
}

.card-img-top{
    width: 60% !important;
    height: auto;
    padding-top: 10px;
    align-self: center !important;
}
#esiLogo{
    align-self: center !important;
    width: 75% !important;
    height: auto;
    padding-left: 40px;
    padding-top: 55px;
    padding-bottom: 43px !important;
}
.card-body{
    text-align: center !important;
    font-size: 18px;
    width: auto;
}

#titulo-Experiencia{
    padding-top: 50px !important;
    text-align: center !important;
    font-weight: 900 !important;
}

.card .imagenTrofeo{
    border-radius: 10px !important;
    margin-top: 15px;
    margin-left: 38% !important;
    align-items: center !important;
    width: 25% !important;
    height: auto;
}
.conjunto-cards2{
    align-items: center !important;
}

/**Conocimientos**/
.page-conocimiento{
    background-color: var(--color-secundario) !important;
    padding: 80px 0px 100px 0px;
}
.page-conocimiento .conocimiento-izquierda{
    display: flex;
    flex-direction: column;
}
#tituloConocimiento{
    font-weight: 600;
    font-size: 40px;
}
#textoConocimientos{
    margin-top: 30px !important;
    font-size: 19px !important;
    font-weight: 400;
}
.botonesConocimientos{
    margin: 15px 0px 5px 0px;
    font-size: 20px !important;
    transition: 0.3s;
    border-radius: 10px;
}
.botonesConocimientos:hover{
    margin-left: 15px ;
    transition: 0.3s;
    transform: scale(1.10);
    background-color: #114474 !important;
    border: #03284b;
}

.botonesConocimientos:focus{
    outline: none !important;
    box-shadow: none !important;
}
#primeraBarra{
    margin-top: 3% !important;
}
.tituloBarra{
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 22px;
    color: whitesmoke;
    text-shadow: 1px 0px 0px black,
                 0px 1px 0px black,
                 -1px 0px 0px black,
                 0px -1px 0px black;
}
.progress{
    margin-bottom: 25px;
    height: 20px !important;
    font-weight: 700;
    box-shadow: 2px 0px 0px black,
                0px 2px 0px black,
                -2px 0px 0px black,
                0px -2px 0px black;
}
.progress-bar{
    font-size: 14px;
}

/**PortFolio**/
.portfolio{
    padding-top: 80px;
    padding-bottom: 150px;
}
#titulo-Portfolio{
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 40px;
}
.btn-success{
    background-color: #384aee !important;
    border-radius: 500% !important;
    border: 3px solid var(--color-principal) !important;
    transition: 0.5s !important;
}
.btn-success:hover{
    background-color: #43dd64 !important;
    transform: scale(1.2) !important;
    transition: 0.5s;
    border: none !important;
}
/*Proyectos individuales*/
#proyectoFritura{
    height: 500px !important;
}
#proyectoCI{
    height: 500px !important;
}
#proyectoIG{
    height: 500px !important;
}
#proyectoInteligentes{
    height: 500px !important;
}
#proyectoTama{
    height: 500px !important;
}
#proyectoDGR{
    height: 500px !important;
}
#imgCI{
    margin-bottom: 36px !important;
}
#imgIG{
    margin-bottom: 36px !important;
}
#imgInteligentes{
    margin-bottom: 26px !important;
    margin-left: -20px !important;
}
#imgTama{
    margin-bottom: 22px !important;
}
#imgDGR{
    margin-bottom: 24px !important;
    width: 55%  !important;
    height: auto !important;
}
#btnFritura{
    margin-top: 15px !important;
    margin-left: -20px !important;
}
#btnCI{
    margin-top: 10px !important;
    margin-left: -20px !important;
}
#btnIG{
    margin-top: 10px !important;
    margin-left: -20px !important;
}
#btnInteligentes{
    margin-top: 50px !important;
    margin-left: -20px !important;
}
#btnTama{
    margin-top: 20px !important;
    margin-left: -20px !important;
}
#btnDGR{
    margin-top: 23px !important;
    margin-left: -20px !important;
}
/*FIN Proyectos individuales*/

.card-img-top-portfolio{
    border-radius: 35px;
    display: flex!important;
    padding: 9px 25px;
    width: 190px;
    align-self: center;  
}

/**Contacto**/
.contacto{
    background-color: #a5d0f7;
    padding-top: 50px;
    padding-bottom: 150px !important;
}
#titulo-tabla{
    margin-bottom: 5px !important;
    font-weight: 600;
    font-size: 40px;
}
.table{
    text-align: center;
    width: 400px !important;
    font-size: 20px !important;
}
#datosPersonales{
    font-weight: 400;
    margin-top: 40px;
    margin-left:20% !important;
}
.imgContacto{
    margin-left: 45%;
}
#tituloCV{
    text-align: center;
    font-size: 35px;
    margin-top: 50px !important;
}
#botonCV{
    display: flexbox;
    margin-top: 30px;
    margin-left: 35%;
    transition: 0.5s;
}
#botonCV:hover{
    transform: scale(1.3);
    transition: 0.5s;
    background-color: #00ffff;
    color: black;
    border: 3px;
    border-color: black;
}

/**Footer**/
.logos{
    height: 20px !important;
    width: 20px !important;
}

#botonLinked{
    margin-left: 5px !important;
    margin-top: -4px !important;
    border-radius: 200px !important;
    border: none;
    transition: 0.5s;
    
}
#botonInsta{
    border: none;
    margin-top: -4px !important;
    border-radius: 200px !important;
    transition: 0.5s;
}
#botonGit{
    border: none;
    margin-top: -4px !important;
    border-radius: 200px !important;
    transition: 0.5s;
}
#botonGit:hover{
    background-color: #4393dd;
    transform: scale(1.4) !important;
}
#botonGit:focus{
    outline: none;
    box-shadow: none;
}
#botonInsta:hover{
    background-color: #4393dd;
    transform: scale(1.4) !important;
}
#botonInsta:focus{
    outline: none;
    box-shadow: none;
}
#botonLinked:focus{
    outline: none;
    box-shadow: none;
}
#botonLinked:hover{
    background-color: #4393dd;
    transform: scale(1.4) !important;
}

/*Configurar diferentes pantallas*/
@media (max-width:1400px){
   .card{
       height: 470px !important;
       display: flex;
   }
   #esiLogo{
        width: 70% !important;
    }
    .card-img-top{
        width: 45% !important;
        height: auto;
        padding-bottom: 28px;
    }
    
    .card-title{
        margin-bottom: 10px !important;
    }
    #imgDGR{
        margin-bottom: 6px !important;
        width: 72%  !important;
        height: auto !important;
    }
    #btnTama{
        margin-top: 25px !important;
        margin-left: -20px !important;
    }
    #btnInteligentes{
        margin-top: 26px !important;
        margin-left: -20px !important;
    }
    #btnFritura{
        margin-top: 45px !important;
        margin-left: -20px !important;
    }
    

}
@media (max-width:1200px){
    /*Seccion principal*/
    .Javier-section .row h1{
        font-size: 42px;
    }
    .Javier-section .row h3{
        font-size: 15px;
    }
    .Javier-section .row p{
        font-size: 11px;
    }
    .Javier-section .row img{
        width: 80% !important;
        height: auto !important;
        display: flex !important;
    }
    .pricingTable{ 
        margin-bottom: 25px; 
    }
    .pricingTable .heading{
        font-size: 20px !important;
        font-weight: 400 !important;
        margin: 0 0 3px 0!important;
    }
    .pricingTable .headingC{
        font-size: 20px !important;
        font-weight: 400 !important;
        margin: 0 0 3px 0 !important;
    }
    .pricingTable .headingT{
        font-size: 17px !important;
        font-weight: 400 !important;
        margin: 0 0 8px 0 !important;
    }
    /*Seccion Formacion*/
    .card{
        display: flex !important;
        height: 470px !important;
        margin-bottom: 30px !important;
    }
    .card-title{
        margin-bottom: 60px !important;
    }
    #esiLogo{
        align-self: center !important;
        width: 80% !important;
        padding-bottom: 5px !important;
    }
    #tituloESI{
        margin-top: 15px !important;
        margin-bottom: 34px  !important;
    }
    #Titulo-Formacion{
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 40px !important;
    }
    #textoEso{
        margin-bottom: 43px;
    }
    #card-Experiencia{
        height: auto !important;
        margin-left: -10px !important;
    }
    /*Seccion Portfolio*/
    #proyectoFritura{
        height: 600px !important;
    }
    #proyectoCI{
        height: 600px !important;
    }
    #proyectoIG{
        height: 600px !important;
    }
    #proyectoInteligentes{
        height: 600px !important;
    }
    #proyectoTama{
        height: 600px !important;
    }
    #proyectoDGR{
        height: 600px !important;
    }
    #btnFritura{
        margin-top: 65px !important;
        margin-left: -20px !important;
    }
    #btnCI{
        margin-top: 10px !important;
        margin-left: -20px !important;
    }
    #btnIG{
        margin-top: 36px !important;
        margin-left: -20px !important;
    }
    #btnDGR{
        margin-top: 46px !important;
        margin-left: -20px !important;
    }
    #btnTama{
        margin-top: 20px !important;
        margin-left: -20px !important;
    }
    #btnInteligentes{
        margin-top: 50px !important;
        margin-left: -20px !important;
    }
    #imgIG{
        margin-bottom: 0.2px !important;
    }
    #imgDGR{
        margin-bottom: 18px !important;
        width: 82%  !important;
        height: auto !important;
    }
}
@media (max-width:993px){
    /*Seccion principal*/
    .Javier-section .row h1{
        font-size: 42px;
    }
    .Javier-section .row h3{
        font-size: 15px;
    }
    .Javier-section .row p{
        font-size: 11px;
    }
    .Javier-section .row img{
        display: flex !important;
        width: 75% !important;
        height: auto !important;
    }
    /*Seccion Sobremi*/ 
    .pricingTable{ 
        margin-bottom: 10px; 
    }
    .pricingTable .heading{
        font-size: 20px !important;
        font-weight: 400 !important;
        margin: 0 0 5px 0 !important;
    }
    .pricingTable .headingC{
        font-size: 20px !important;
        font-weight: 400 !important;
        margin: 0 0 -19px 0 !important;
    }
    .pricingTable .headingT{
        font-size: 17px !important;
        font-weight: 400 !important;
        margin: 0 0 8px 0 !important;
    }
    #imgSobremi{
        width: 50% !important;
        margin-left: 25% !important;
        height: auto !important;
    }
    /*Seccion Formacion*/
    #esiLogo{
        align-self: center !important;
        width: 80% !important;
        padding-bottom: 5px !important;
        margin-top: -25px;
    }
    #tituloESI{
        margin-top: 17px !important;
        margin-bottom: 10px  !important;
    }
    .card-img-top{
        width: 45% !important;
        height: auto;
    }
    .card-title{
        font-size: 25px;
        font-weight: 900;
        margin-top: 10px !important;
        margin-bottom: 30px !important;
    }
    #textoEso{
        margin-bottom: 42px;
    }
    #card-Experiencia{
        height: auto;
        margin-left: -10px !important;
    }
    /*Seccion Portfolio*/
    #proyectoFritura{
        height: 600px !important;
    }
    #proyectoCI{
        height: 600px !important;
    }
    #proyectoIG{
        height: 600px !important;
    }
    #proyectoInteligentes{
        height: 600px !important;
    }
    #proyectoTama{
        height: 600px !important;
    }
    #proyectoDGR{
        height: 600px !important;
    }
    #btnFritura{
        margin-top: 70px !important;
        margin-left: -10px !important;
    }
    #btnCI{
        margin-top: 45px !important;
        margin-left: -10px !important;
    }
    #btnIG{
        margin-top: 44px !important;
        margin-left: -20px !important;
    }
    #btnDGR{
        margin-top: 23px !important;
        margin-left: -10px !important;
    }
    #btnTama{
        margin-top: 20px !important;
        margin-left: -10px !important;
    }
    #imgIG{
        margin-bottom: 6px !important;
    }
    #imgCI{
        margin-bottom: 6px !important;
    }
    #imgTama{
        margin-bottom: 2px !important;
    }
    #imgInteligentes{
        margin-bottom: 6px !important;
        margin-left: 5px !important;
    }
    #imgDGR{
        margin-bottom: 38px !important;
        width: 105%  !important;
        height: auto !important;
    }
    /*Contacto*/
    #tituloCV{
        text-align: right !important;
        font-size: 35px;
    }
    #botonCV{
        margin-left: 30%;
    }
    #datosPersonales{
        margin-left: 10% !important;
        font-size: 34px !important;
    }
    .table{
        margin-left: 10 !important;
        width: 300px !important;
    }

}
@media (max-width:763px){
    .nav-item:hover{
        animation: none !important;
    }
    /*Seccion principal*/
    .Javier-section{
        margin: 50px 0px;
    }
    .Javier-section .row h1{
        font-size: 42px;
    }
    .Javier-section .row h3{
        font-size: 15px;
    }
    .Javier-section .row p{
        font-size: 11px;
    }
    .Javier-section .row img{
        width: 60% !important;
        height: auto !important;
        margin-top: -5%;
        margin-left: 30%;
        display: flex !important;
    }
    /*Seccion Sobre mi*/
    .pricingTable{ 
        margin-bottom: 10px; 
    }
    #imgSobremi{
        width: 50%;
        margin-left: 25%;
    }
    /*Seccion Formacion*/
    .card{
        display: flex !important;
        height: auto !important;
        margin-bottom: 30px !important;
    }
    #tituloESI{
        margin-top: 6px !important;
        margin-bottom: 34px  !important;
    }
    #Titulo-Formacion{
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 40px !important;
    }
    /*Seccion Contacto*/
    #tituloCV{
       margin-top: 50px !important;
       text-align: center !important;
    }
    #datosPersonales{
        margin-left: 20% !important;
        font-size: 34px !important;
    }
    .table{
        margin-left: 10% !important;
        width: 35% !important;
    }

}